
body {
    margin: 0;
    padding: 0;
    // font-family: 'Ubuntu', Arial, Helvetica, sans-serif;
    // line-height: 1.42;
    // color: $dark;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
   /* background: rgb(166, 166, 166);
    background: -moz-linear-gradient(top, rgba(166, 166, 166, 1) 0%, rgba(255, 255, 255, 1) 25%, rgba(255, 255, 255, 1) 75%, rgba(166, 166, 166, 1) 100%);
    background: -webkit-linear-gradient(top, rgba(166, 166, 166, 1) 0%, rgba(255, 255, 255, 1) 25%, rgba(255, 255, 255, 1) 75%, rgba(166, 166, 166, 1) 100%);
    background: linear-gradient(to bottom, rgba(166, 166, 166, 1) 0%, rgba(255, 255, 255, 1) 25%, rgba(255, 255, 255, 1) 75%, rgba(166, 166, 166, 1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a6a6a6', endColorstr='#a6a6a6', GradientType=0);*/
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

html {
    font-family: 'Roboto';
    height: 100%;
    font-size: 16px;
}
html{
    @include tablets{
      font-size: 15px;
    }
  
    @include phones{
      font-size: 14px;
    }
  }

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

li {
    list-style: none;
}

h3{
    font-size: 28px;
    font-weight: 600;
    font-family: 'Roboto';
}
h4{
    font-size: 23px;
}
h4,h1,h2,h3 {
    padding: 0;
    margin: 0;
    
}
h1{
    font-size: 63px;
    color: #373e42;
    font-family: 'Sansus';
    font-weight: 500;
}
h2{
    font-weight: 500;
    font-size: 35px;
    font-weight: 500;
    line-height: 1;
    font-family: 'Sansus';
    @include phones{
        font-size: 30px;
      }
    
}
a{
    text-decoration: none;
    color: #fff;
}
img,
embed,
object,
video {
    max-width: 100%;
    height: auto;
}
table, td, th {    
    border: 1px solid #ddd;
    text-align: left;
}

table {
    border-collapse: collapse;
    width: 100%;
}

th, td {
    padding: 15px;
}
input[type="submit"],
input[type="reset"],
input[type="button"],
button {
    background: none;
    border: 0;
    color: inherit;
    font: inherit;
    line-height: normal;
    overflow: visible;
    padding: 0;
    -webkit-appearance: button;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}

/*
button:focus{
    outline: 0;
}
button:active{
    outline: 0;
}*/
p{
    margin-top: 0;
}
button:hover{
    cursor: pointer;
}

input::-moz-focus-inner,
button::-moz-focus-inner {
    border: 0;
    padding: 0;
}

[role="button"] {
    color: inherit;
    cursor: default;
    display: inline-block;
    text-align: center;
    text-decoration: none;
    white-space: pre;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}