header.header
        .header__social
            ul.social
                li.social__item.social__item-header
                    a.social__item-link(href='#')
                        svg.social__item-vk.social__item-svg-header
                            use(xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="assets/images/sprite/sprite.svg#vk") 
                li.social__item.social__item-header
                    a.social__item-link(href='#')
                        svg.social__item-git.social__item-svg-header
                            use(xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="assets/images/sprite/sprite.svg#github") 
                li.social__item.social__item-header
                    a.social__item-link(href='#')
                        svg.social__item-in.social__item-svg-header
                            use(xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="assets/images/sprite/sprite.svg#in") 
        .header__hamburger.hamburger
            a.hamburger__link(href='#')
                svg.hamburger__link-svg
                    use(xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="assets/images/sprite/sprite.svg#hamburger") 
        .header__svg
            svg.header__svg-title
                use(xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="assets/images/sprite/sprite.svg#portfolio_header")
        .header__content
            //.section-title
                img(src="", alt="").section-title__pic
            .header__user.user
                .user__pic
                    img(src="assets/images/content/face.jpg", alt="W").user__pic-img
                .user__description
                    .user__description-name Владимир Астахов
                    .user__description-info Личный сайт разработчика
        .header__arrow.arrow-down
            svg.arrow-down-svg
                use(xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="assets/images/sprite/sprite.svg#arrow_down")
        .triangle.tringle_fill_white.about__left-triangle
                    svg(xmlns="http://www.w3.org/2000/svg" viewbox="0 0 1000 85" preserveaspectratio="none").traingle
                        polygon(points="0,0   0,86   500.8,86   500.8,75.5").left
        .triangle.tringle_fill_beige.about__right-triangle
            svg(xmlns="http://www.w3.org/2000/svg" viewbox="0 0 1000 85" preserveaspectratio="none").traingle
                        polygon(points="1000,0   1000,86   500,86   500,75.5").right