ul.skills-list.skills-list-margin
    li.skills-list__item
        .skills-row
                h3.skills-row__title Frontend
                ul.skills-row__list
                    li.skills-row__item
                        svg(viewBox="0 0 110 110").circles
                            circle(r="45" cx="50%" cy="50%" fill="none").circle__first
                            circle(r="45" cx="50%" cy="50%" fill="none" transform="rotate(-90 55 55)").circle__second.circle-25    
                        span.item__title HTML &amp; CSS
                    li.skills-row__item
                        svg(viewBox="0 0 110 110").circles
                            circle(r="45" cx="50%" cy="50%" fill="none").circle__first
                            circle(r="45" cx="50%" cy="50%" fill="none" transform="rotate(-90 55 55)").circle__second.circle-25    
                        span.item__title HTML javaScript
                    li.skills-row__item
                        svg(viewBox="0 0 110 110").circles
                            circle(r="45" cx="50%" cy="50%" fill="none").circle__first
                            circle(r="45" cx="50%" cy="50%" fill="none" transform="rotate(-90 55 55)").circle__second.circle-25    
                        span.item__title Node.js
    li.skills-list__item
        .skills-row
            h3.skills-row__title  Backend
                ul.skills-row__list
                    li.skills-row__item
                        svg(viewBox="0 0 110 110").circles
                            circle(r="45" cx="50%" cy="50%" fill="none").circle__first
                            circle(r="45" cx="50%" cy="50%" fill="none" transform="rotate(-90 55 55)").circle__second.circle-25    
                        span.item__title HTML &amp; CSS
                    li.skills-row__item
                        svg(viewBox="0 0 110 110").circles
                            circle(r="45" cx="50%" cy="50%" fill="none").circle__first
                            circle(r="45" cx="50%" cy="50%" fill="none" transform="rotate(-90 55 55)").circle__second.circle-25    
                        span.item__title HTML javaScript
                    li.skills-row__item
                        svg(viewBox="0 0 110 110").circles
                            circle(r="45" cx="50%" cy="50%" fill="none").circle__first
                            circle(r="45" cx="50%" cy="50%" fill="none" transform="rotate(-90 55 55)").circle__second.circle-25    
                        span.item__title Node.js
    li.skills-list__item
        .skills-row
            h3.skills-row__title  Workflow
                ul.skills-row__list
                    li.skills-row__item
                        svg(viewBox="0 0 110 110").circles
                            circle(r="45" cx="50%" cy="50%" fill="none").circle__first
                            circle(r="45" cx="50%" cy="50%" fill="none" transform="rotate(-90 55 55)").circle__second.circle-25    
                        span.item__title HTML &amp; CSS
                    li.skills-row__item
                        svg(viewBox="0 0 110 110").circles
                            circle(r="45" cx="50%" cy="50%" fill="none").circle__first
                            circle(r="45" cx="50%" cy="50%" fill="none" transform="rotate(-90 55 55)").circle__second.circle-25    
                        span.item__title HTML javaScript
                    li.skills-row__item
                        svg(viewBox="0 0 110 110").circles
                            circle(r="45" cx="50%" cy="50%" fill="none").circle__first
                            circle(r="45" cx="50%" cy="50%" fill="none" transform="rotate(-90 55 55)").circle__second.circle-25    
                        span.item__title Node.js