.header{
    height: 100vh;
    background-image: url("/assets/images/content/forest.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;

}
.header__triangles {
    margin: 50px auto;
    background-color: crimson;
  }
  
  svg {
    display: block;
  }
.header__social{
    position: absolute;
    top: 20px;
    left: 20px;
}
.social__item-header{
    margin-right: 20px;
}
.social__item-header:last-child{
    margin-right: 0;
}
.hamburger__link{
    display: inline-block;
}
.header__hamburger{
    position: absolute;
    top: 35px;
    right: 20px;
}
.header__placeholder{
    position: absolute;
    width: 84%;
    height: 30%;
}
.arrow-down{
    height: 100%;
    width: 100%;
}
.triangles{
   position: absolute;
    bottom: 0;
    width: 100%; 
}

.header__content{
    z-index: 2;
}
.user__pic{
    width: 140px;
    height: 140px;
    margin: 0 auto;
}
.user__pic-img{
    border-radius: 50%;
}
.user__description-name{
    font-size: 35px;
    color: #fff;
    text-align: center;
    margin: 10px 0;
}
.user__description-info{
    font-size: 16px;
    color: #fff;
    text-align: center;
}
.header__arrow{
   position: absolute;
   bottom: 55px;
   z-index: 1;

}
.about{
    display: flex;
}
.about__left{
    background-color: #ebefe2;
    width: 50%;
    position: relative;
    padding: 0 80px;

}
.about__right{
    width: 50%;
    background-color: #f4f5f0;
    padding: 0 40px;
}
.login__border-about{
    background-color: rgb(55, 62, 66);
}
.about__left-svg{
    position: absolute;
    top: -25px;
    left: 22%;
}
.about__left-title{
    position: relative;
}
.about__left-content{
    margin: 20px 0;
}
.user-description__image{
    margin: 0 0 20px 0;
}

.skills-list-margin{
    margin-top: 60px;
    font-style: normal;
}
.text-content{
    color: rgb(86, 99, 88);
    line-height: 1.5;
    font-style: italic;
}
.user-description__text,.about__right-text{
    margin-top: 20px;
}
.skills-row__item{
    width: 110px;
    margin-right: 37px;
}
.skill__circle{
    background-color: #454;
    border-radius: 50%;
    width: 110px;
    height: 110px;
}
.skills-row__item:last-child{
    margin-right: 0px;
}
.skills-row__list{
    display: flex;
}
.map{
    height: 960px;
    background-image: url("/assets/images/content/map.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.map__contact{
    position: absolute;
    width: 380px;
    padding: 30px 40px;
    border-radius: 5px;
    background-color: rgba(244, 245, 240, .8);
}

.contacts__item{
    margin-bottom: 20px;
    display: flex;
  
}
.contacts__item:last-child{
    margin-bottom: 0;
  
}
.contacts__list-margin{
    margin-top: 20px;
}

.footer__row{
    //width: 100%;
}
.footer__row-down{
    padding: 5px 5px;
    color: #ffffff;
    //width: 100%;
    text-align: center;
    background-color: rgba($green_low, .8);
}
.footer__item{
    flex: 1;
    border-right: 1px solid rgba(255, 255, 255, .2);
    padding:  0 30px;
    &:last-child{
        border: 0;
    }
}
.footer__list{
    display: flex;
    background-color: rgba(55, 62, 66, .8);
    color: #fff;
    padding: 30px 0;
    font-weight: 300;
}
.footer__nav{
    display: flex;
    justify-content: space-between;
}
.footer__socials{
    display: flex;
    margin-top: 20px;
}


.footer__item-quote{
    color: rgba(255, 255, 255, 0.502);   
}


.skills-row__title {
    font-size: 28px;
    color: rgb(86, 99, 88);
    font-weight: 600;
  }
  
  .skills-list__item{
      margin-bottom: 40px;
  }

.circles {
    fill: none;
    stroke-width: 15;
  }
  .circle__first {
    stroke: #dfdcd5;
  }
  .circle__second {
    stroke: $green_low;
    stroke-dasharray: .0010 282.6;
    transition: all 1s;
  }
  
  .skills-row__item {
    position: relative;
    display: inline-block;
    width: 110px;
    height: 110px;
  }
.skills-row__list{
    margin-top: 10px;
}
  
  .item__title {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;
    color: $green_low;
    font-weight: bold;
  }
  .circles:hover .circle-0 {
     stroke-dasharray: .001 282.6;
  }
  .circles:hover .circle-5 {
    stroke-dasharray: 14.13 282.6;
  }
  .circles:hover .circle-10 {
     stroke-dasharray: 28.26 282.6;
  }
  .circles:hover .circle-15 {
     stroke-dasharray: 42.39 282.6;
  }
  .circles:hover .circle-20 {
     stroke-dasharray: 56.52 282.6;
  }
  .circles:hover .circle-25 {
     stroke-dasharray: 70.65 282.6;
  }
  .circles:hover .circle-30 {
     stroke-dasharray: 84.78 282.6;
  }
  .circles:hover .circle-35 {
     stroke-dasharray: 98.91 282.6;
  }
  .circles:hover .circle-40 {
     stroke-dasharray: 113.04 282.6;
  }
  .circles:hover .circle-45 {
     stroke-dasharray: 127.17 282.6;
  }
  .circles:hover .circle-50 {
     stroke-dasharray: 141.3 282.6;
  }
  .circles:hover .circle-55 {
     stroke-dasharray: 155.43 282.6;
  }
  .circles:hover .circle-60 {
     stroke-dasharray: 169.56 282.6;
  }
  .circles:hover .circle-65 {
     stroke-dasharray: 183.69 282.6;
  }
  .circles:hover .circle-70 {
     stroke-dasharray: 197.82 282.6;
  }
  .circles:hover .circle-75 {
     stroke-dasharray: 211.95 282.6;
  }
  .circles:hover .circle-80 {
     stroke-dasharray: 226.08 282.6;
  }
  .circles:hover .circle-85 {
     stroke-dasharray: 240.21 282.6;
  }
  .circles:hover .circle-90 {
     stroke-dasharray: 254.34 282.6;
  }
  .circles:hover .circle-95 {
     stroke-dasharray: 268.47 282.6;
  }
  .circles:hover .circle-100 {
     stroke-dasharray: 282.6 282.6;
  }
  .about__left-triangle{
    width: 100%;
    position: absolute;
    bottom: 0;
    margin-bottom: -1px;
  }
  .about__right-triangle{
    width: 100%;
    position: absolute;
    bottom: 0;
    right: 0;
  }