.forest {
    height: 100vh;
    background-image: url("../../assets/images/content/forest_full-screen.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    @include screen {
        background-image: url("../../assets/images/content/forest_screen.jpg");
    }
    @include tablet {
        background-image: url("../../assets/images/content/forest_ipad.jpg");
    }
  
}
/* -- кнопка авторизации --*/
.authorization-btn {
    position: absolute;
    top: 3%;
    right: 5%;
    @include phones {
        right: auto;
    }
}
.authorization-btn__link {
    font-size: 16px;
    border-width: 1px;
    border-color: rgb(255, 255, 255);
    border-style: solid;
    padding: 13px 30px;
    display: inline-block;
    border-radius: 30px;
    font-weight: 500;
    color: #fff;
    @include phones {
        font-size: 14px;
    }
    &:hover {
        border-color: $green_low;
        background-color: $green_middle;
    }
    &:focus {
        border-color: $green_low;
        background-color: $green_middle;
    }
    &:active {
        border-color: $green_low;
        background-color: #2e9177;
    }
}


/* -- Окно --*/

.welcome {
    width: 380px;
    border-radius: 5px;
    background-color: rgba(18, 38, 32, 0.6);
    display: flex;
    flex-direction: column;
    padding-top: 40px;
    flex: none;
    @include tablet {
        width: 350px;
    }
    @include phones {
        width: 300px;
    }
}

.welcome__content {
    text-align: center;
}

.welcome__content_margin {
    margin-bottom: 40px;
}

.welcome__pic {
    width: 140px;
    height: 140px;
    background-color: #fff;
    margin: 0 auto;
    border-radius: 50%;
}

.welcome__pic-img {
    border-radius: 50%;
}

.welcome__description {
    margin: 20px 0 40px 0;
}

.description-info__name {
    color: #fff;
    margin-bottom: 10px;
    font-size: 28px;
    @include phones {
        font-size: 21px;
    }
}
 

.description-info__about {
    font-weight: 400;
    font-size: 16px;
    color: rgba(255, 255, 255, 0.8);
    @include phones {
        font-size: 14px;
    }
}


/*-- футер welcome -- */

.footer-copyrigh {
    position: absolute;
    bottom: 5%;
    padding: 0 20px;
    color: #fff;
    text-align: center;
    @include phones {
        bottom: 2%;
        font-weight: 300;
    }
}


.menu__item {
    border-left: 2px solid rgb(222, 227, 231);
    display: flex;
    flex: 1 1 100px;
    z-index: 2;
}

.menu__item:first-child {
    border-left: 0px solid rgb(222, 227, 231);
    
}


@media screen and (max-height: 561px) {
    .welcome {
        padding-top: 20px;
    }
    .welcome__description {
        margin: 20px 0 20px 0;
    }
    .welcome__content_margin {
        margin-bottom: 10px;
    }
}

.flipper{
    position: relative;
    width: 380px;
    transform-style: preserve-3d;
    transition: .7s linear;
    display: flex;
    align-items: center;
    @include tablet {
        width: 350px;
    }
    @include phones {
        width: 300px;
    }
}
.front, .back {
    box-sizing: border-box;
    position: absolute;
    backface-visibility: hidden;
  }

  .front {
    z-index: 2;
    transform: rotateY(0deg);
  }
  .back {
    transform: rotateY(-180deg);
  }