extends ../template

block variables
    - var title = 'Страница админа'

block content
    .admin-panel
        .admin-panel__header
            h2.admin-panel__header-title Панель администрирования
            a(href="index.html").admin-panel__header-back   Вернуться на сайт
        ul.tabs
            li.tabs__item 
                button.tabs__item-lint tab 1
            li.tabs__item 
                button.tabs__item-lint tab 2
            li.tabs__item 
                button.tabs__item-lint tab 3
            li.tabs__item 
                button.tabs__item-lint tab 4
        //.admin-panel__content.page-about
            .page-about-title Страница "Обо мне"
            ul.full-skills
                li.full-skills__item
                    .full-skills__item-title Frontend
                    ul.one-skill
                        li.one-skill__item
                            label(for="1").one-skill__item-title HTML
                                input(type="text" maxlength="2").one-skill__item-input 
                            .one-skill__item-percentages %
                        li.one-skill__item
                            label(for="1").one-skill__item-title CSS
                                input(type="text" maxlength="2").one-skill__item-input 
                            .one-skill__item-percentages %
                        li.one-skill__item
                            label(for="1").one-skill__item-title JavaScript
                                input(type="text" maxlength="2").one-skill__item-input 
                            .one-skill__item-percentages %
                li.full-skills__item
                    .full-skills__item-title Workflow
                    ul.one-skill
                        li.one-skill__item
                            label(for="1").one-skill__item-title Git
                                input(type="text" maxlength="2").one-skill__item-input 
                            .one-skill__item-percentages %
                        li.one-skill__item
                            label(for="1").one-skill__item-title Gulp
                                input(type="text" maxlength="2").one-skill__item-input 
                            .one-skill__item-percentages %
                        li.one-skill__item
                            label(for="1").one-skill__item-title Bower
                                input(type="text" maxlength="2").one-skill__item-input 
                            .one-skill__item-percentages %
                li.full-skills__item
                    .full-skills__item-title Backend
                    ul.one-skill
                        li.one-skill__item
                            label(for="1").one-skill__item-title PHP
                                input(type="text" maxlength="2").one-skill__item-input 
                            .one-skill__item-percentages %
                        li.one-skill__item
                            label(for="1").one-skill__item-title Node.js
                                input(type="text" maxlength="2").one-skill__item-input 
                            .one-skill__item-percentages %
                        li.one-skill__item
                            label(for="1").one-skill__item-title Mongo.db
                                input(type="text" maxlength="2").one-skill__item-input 
                            .one-skill__item-percentages %
            button.page-about-btn  Сохранить
        //.admin-panel__content.page-blog
            .page-blog-title Стрница "Блог"    
            .new-entry
                .new-entry__title Добавить запись
                .new-entry__name
                    label(for="1").new-entry__name-label.visually-hidden Имя
                    input(type="text"  placeholder="Название").new-entry__name-input 
                .new-entry__date
                    label(for="1").new-entry__name-label.visually-hidden Дата
                    input(type="text"  placeholder="Дата").new-entry__date-input
                .new-entry__text
                    label(for="1").new-entry__name-label.visually-hidden Содержание
                    textarea(type="text"  placeholder="Содержание").new-entry__name-textarea
                button.new-entry__btn Добавить
        .admin-panel__content.page-work
            .page-work-title Стрница "Мои работы"
            .new-work
                .new-work__title Добавить работу
                .new-work__name
                    label(for="1").new-work__name-label.visually-hidden Имя
                    input(type="text"  placeholder="Название проекта").new-work__name-input 
                .new-work__technology
                    label(for="1").new-work__technology-label.visually-hidden Имя
                    input(type="text"  placeholder="Технологии").new-work__technology-input 
                .new-work__add-pic
                        img(src="assets/images/content/add-pic.png", alt="").new-work__add-img
                        button.new-work__add-btn Загрузить картинку
                button.new-work__btn Добавить

    //.admin-panel__message
        .message
            .message__title Сообщение отправле 
            button.message__button Закрыть

            


