extends ../template

block variables
    - var title = 'Блог'

block content
    .wrapper    
        header.header.header_blog 
            .header__social
                ul.social
                    li.social__item.social__item_margin
                        a.social__item-link(href='#')
                            svg.social__item-svg
                                use(xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="assets/images/sprite/sprite.svg#vk") 
                    li.social__item.social__item_margin
                        a.social__item-link(href='#')
                            svg.social__item-svg
                                use(xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="assets/images/sprite/sprite.svg#github") 
                    li.social__item.social__item_margin
                        a.social__item-link(href='#')
                            svg.social__item-svg
                                use(xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="assets/images/sprite/sprite.svg#in") 
            .header__hamburger.hamburger
                button.hamburger__link
                    svg.hamburger__link-svg
                        use(xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="assets/images/sprite/sprite.svg#hamburger") 
            .header__placeholder.header__placeholder_blog 
                svg.header__placeholder-title
                    use(xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="assets/images/sprite/sprite.svg#blog_header")
            .header__content
                .user
                    .user__pic
                        img(src="assets/images/content/face.jpg", alt="face").user__pic-img
                    .user__description.user__description_margin

                        .block-title.block-title_blog.block-subtitle_white Блог

                        .user__description-info.user__description-info_margin Статья, которые я написал
            .triangle.tringle_fill_white
                svg(xmlns="http://www.w3.org/2000/svg" viewbox="0 0 1000 85" preserveaspectratio="none").traingle__pic
                    polygon(points="0,0   0,86   500.8,86   500.8,75.5").traingle__pic-left.traingle__pic-left_white
                    polygon(points="1000,0   1000,86   500,86   500,75.5").traingle__pic-right.traingle__pic-right_white
        main.main
            section.section.blog
                aside.blog__left
                    ul.blog-menu
                        li.blog-menu__item.blog-menu__item-active
                            a(href="#").blog-menu__item-link Самое важное в SASS
                        li.blog-menu__item 
                            a(href="#").blog-menu__item-link Самое важное в SASS
                        li.blog-menu__item.blog-menu__item-active
                            a(href="#").blog-menu__item-link Самое важное в SASS Самое важное в SASS Самое важное в SASS
                        li.blog-menu__item 
                            a(href="#").blog-menu__item-link Самое важное в SASS
                        li.blog-menu__item 
                            a(href="#").blog-menu__item-link Самое важное в SASS
                .blog__right
                    h1.visually-hidden Блог
                    article.blog-descripshion
                        h2.blog-descripshion-title Блог
                        .blog-descripshion-date
                            time.time(datetime="2018-03-22") 22 марта 2018
                        .blog-descripshion-text.text-content
                            p Lorem ipsum, dolor sit amet consectetur eos quibusdam consectetur blanditiis minus,eos quibusdam consectetur blanditiis minus,adipisicing elit. Eaque quidem aut sequi eos quibusdam consectetur blanditiis minus,eos quibusdam consectetur blanditiis minus
                            |repellat nobis voluptas ab impedit autem eos quibusdam consectetur blanditiis minus,eos quibusdam consectetur blanditiis minus,
                            |eos quibusdam consectetur blanditiis minus, eos quibusdam consectetur blanditiis minus,eos quibusdam consectetur blanditiis minus,
                            |adipisci veritatis dolorum a nihil voluptate numquam.eos quibusdam consectetur blanditiis minus,eos quibusdam consectetur blanditiis minus,
                            p Lorem ipsum, dolor sit amet consectetur 
                            |adipisicing elit. Eaque quidem aut sequi 
                            |repellat nobis voluptas ab impedit autem 
                            |eos quibusdam consectetur blanditiis minus, 
                            |adipisci veritatis dolorum a nihil voluptate numquam.
                            p Lorem ipsum, dolor sit amet consectetur 
                            |adipisicing elit. Eaque quidem aut sequi 
                            |repellat nobis voluptas ab impedit autem 
                            |eos quibusdam consectetur blanditiis minus, 
                            |adipisci veritatis dolorum a nihil voluptate numquam.
                            p Lorem ipsum, dolor sit amet consectetur 
                            |adipisicing elit. Eaque quidem aut sequi 
                            |repellat nobis voluptas ab impedit autem 
                            |eos quibusdam consectetur blanditiis minus, 
                            |adipisci veritatis dolorum a nihil voluptate numquam.
                            p Lorem ipsum, dolor sit amet consectetur 
                            |adipisicing elit. Eaque quidem aut sequi 
                            |repellat nobis voluptas ab impedit autem 
                            |eos quibusdam consectetur blanditiis minus, 
                            |adipisci veritatis dolorum a nihil voluptate numquam.
                    article.blog-descripshion
                        h2.blog-descripshion-title Блог
                        .blog-descripshion-date
                            time.time(datetime="2018-03-22") 22 марта 2018
                        .blog-descripshion-text.text-content
                            p Lorem ipsum, dolor sit amet consectetur eos quibusdam consectetur blanditiis minus,eos quibusdam consectetur blanditiis minus,adipisicing elit. Eaque quidem aut sequi eos quibusdam consectetur blanditiis minus,eos quibusdam consectetur blanditiis minus
                            |repellat nobis voluptas ab impedit autem eos quibusdam consectetur blanditiis minus,eos quibusdam consectetur blanditiis minus,
                            |eos quibusdam consectetur blanditiis minus, eos quibusdam consectetur blanditiis minus,eos quibusdam consectetur blanditiis minus,
                            |adipisci veritatis dolorum a nihil voluptate numquam.eos quibusdam consectetur blanditiis minus,eos quibusdam consectetur blanditiis minus,
                            p Lorem ipsum, dolor sit amet consectetur 
                            |adipisicing elit. Eaque quidem aut sequi 
                            |repellat nobis voluptas ab impedit autem 
                            |eos quibusdam consectetur blanditiis minus, 
                            |adipisci veritatis dolorum a nihil voluptate numquam.
                            p Lorem ipsum, dolor sit amet consectetur 
                            |adipisicing elit. Eaque quidem aut sequi 
                            |repellat nobis voluptas ab impedit autem 
                            |eos quibusdam consectetur blanditiis minus, 
                            |adipisci veritatis dolorum a nihil voluptate numquam.
                            p Lorem ipsum, dolor sit amet consectetur 
                            |adipisicing elit. Eaque quidem aut sequi 
                            |repellat nobis voluptas ab impedit autem 
                            |eos quibusdam consectetur blanditiis minus, 
                            |adipisci veritatis dolorum a nihil voluptate numquam.
                            p Lorem ipsum, dolor sit amet consectetur 
                            |adipisicing elit. Eaque quidem aut sequi 
                            |repellat nobis voluptas ab impedit autem 
                            |eos quibusdam consectetur blanditiis minus, 
                            |adipisci veritatis dolorum a nihil voluptate numquam.
                    article.blog-descripshion
                        h2.blog-descripshion-title Блог
                        .blog-descripshion-date
                            time.time(datetime="2018-03-22") 22 марта 2018
                        .blog-descripshion-text.text-content
                            p Lorem ipsum, dolor sit amet consectetur eos quibusdam consectetur blanditiis minus,eos quibusdam consectetur blanditiis minus,adipisicing elit. Eaque quidem aut sequi eos quibusdam consectetur blanditiis minus,eos quibusdam consectetur blanditiis minus
                            |repellat nobis voluptas ab impedit autem eos quibusdam consectetur blanditiis minus,eos quibusdam consectetur blanditiis minus,
                            |eos quibusdam consectetur blanditiis minus, eos quibusdam consectetur blanditiis minus,eos quibusdam consectetur blanditiis minus,
                            |adipisci veritatis dolorum a nihil voluptate numquam.eos quibusdam consectetur blanditiis minus,eos quibusdam consectetur blanditiis minus,
                            p Lorem ipsum, dolor sit amet consectetur 
                            |adipisicing elit. Eaque quidem aut sequi 
                            |repellat nobis voluptas ab impedit autem 
                            |eos quibusdam consectetur blanditiis minus, 
                            |adipisci veritatis dolorum a nihil voluptate numquam.
                            p Lorem ipsum, dolor sit amet consectetur 
                            |adipisicing elit. Eaque quidem aut sequi 
                            |repellat nobis voluptas ab impedit autem 
                            |eos quibusdam consectetur blanditiis minus, 
                            |adipisci veritatis dolorum a nihil voluptate numquam.
                            p Lorem ipsum, dolor sit amet consectetur 
                            |adipisicing elit. Eaque quidem aut sequi 
                            |repellat nobis voluptas ab impedit autem 
                            |eos quibusdam consectetur blanditiis minus, 
                            |adipisci veritatis dolorum a nihil voluptate numquam.
                            p Lorem ipsum, dolor sit amet consectetur 
                            |adipisicing elit. Eaque quidem aut sequi 
                            |repellat nobis voluptas ab impedit autem 
                            |eos quibusdam consectetur blanditiis minus, 
                            |adipisci veritatis dolorum a nihil voluptate numquam.
        footer.footer.footer_position
            include ../common/footer.pug