extends ../template

block variables
    - var title = 'Добро пожаловать'

block content
    .forest
      .authorization-btn
        button.authorization-btn__link(alt="Кнопка авторизоваться" ) Авторизоваться

      main.main.welcome
        .welcome__content.welcome__content-margin
          .welcome__pic
            img(src="assets/images/content/face.jpg", alt="Картинка автора").welcome__pic-img
          .welcome__description.description-info
            h2.description-info__name Владимир Астахов
            h3.description-info__about Личный сайт веб разработчика
          ul.social
            li.social__item
              a.social__item-link(href='#')
                svg.social__item-vk.social__item-svg
                  use(xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="assets/images/sprite/sprite.svg#vk") 
            li.social__item
              a.social__item-link(href='#')
                svg.social__item-git.social__item-svg
                  use(xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="assets/images/sprite/sprite.svg#github") 
            li.social__item
              a.social__item-link(href='#')
                svg.social__item-in.social__item-svg
                  use(xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="assets/images/sprite/sprite.svg#in") 
        nav.nav
          ul.menu__list
            li.menu__item
              a.menu__item-link(href='#') Мои работы
            li.menu__item
              a.menu__item-link(href='#') Обо мне
            li.menu__item
              a.menu__item-link(href='#') Блог
      .footer-copyrigh
        .footer-copyrigh__text   © Владимир Астахов | создано с любовью в LoftSchool | 2018
