extends ../template

block variables
    - var title = 'Мои работы'

block content
    include ../common/header.pug
    section.section.myworks
        .myworks-title
            .block-title Мои работы
        .about__left-svg
            //svg.about__left-about
                use(xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="assets/images/sprite/sprite.svg#works_header")
        .myworks__slider
            ul.slider
                li.slider__item
                    .slider__item-left
                        .slider__item-left-pic
                            img(src="assets/images/content/work-1.png", alt="#")    
                    .slider__item-right
                        .info__slider
                            .block-subtitle.block-subtitle-slider Сайт школы онлайн образования
                            .info__slider-info HTML, CSS, JAVASCRIPT
                            .info__slider-btn 
                                a(href="#").info__slider-btn-link 
                                    svg.info__slider-btn-svg
                                        use(xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="assets/images/sprite/sprite.svg#link")
                                    span Посмотреть сайт
        .myworks__slider-left
        .myworks__slider-right
    section.section.about-me
        .about-me__content
            .block-title.block-title-about-me Что обо мне говорят
                //svg.about__left-about
                    use(xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="assets/images/sprite/sprite.svg#works_header")
            ul.about-me__reviews.reviews
                li.reviews__item
                    .reviews__item-pic 
                        img(src="assets/images/content/face_teacher.jpg", alt="#").reviews__item-img
                    .reviews__item-description
                        .reviews__item-description-text
                            p Lorem ipsum dolor sit, amet consectetur adipisicing elit. Sit, ea earum provident laboriosam exercitationem mollitia asperiores velit quasi sequi suscipit vero harum, recusandae ullam voluptate, vitae molestiae ipsum consequatur eos!
                        .reviews__item-description-who
                            .reviews__item-description-name
                                p Lorem ipsum
                            .reviews__item-description-job
                                p Lorem ipsum
                    .reviews__item-quot
                li.reviews__item
                    .reviews__item-pic 
                        img(src="assets/images/content/face_teacher_2.jpg", alt="#").reviews__item-img
                    .reviews__item-description
                        .reviews__item-description-text
                            p Lorem ipsum dolor sit, amet consectetur adipisicing elit. Sit, ea earum provident laboriosam exercitationem mollitia asperiores velit quasi sequi suscipit vero harum, recusandae ullam voluptate, vitae molestiae ipsum consequatur eos!
                        .reviews__item-description-who
                            .reviews__item-description-name
                                p Lorem ipsum
                            .reviews__item-description-job
                                p Lorem ipsum
            .about-me__relations
                .block-subtitle Связаться со мной
                form(action="").login__form
                    .form__row
                        label(for="1")
                            input(type="text", name="login" placeholder="Логин").login
                    .form__row
                        label(for="2")
                            input(type="password", name="password" placeholder="Пароль")
                    .form__row 
                        textarea(name="assa", cols="30", rows="10")
                nav.nav
                    ul.menu__list
                        li.menu__item
                            a.menu__item-link(href='#') На главную
                        li.menu__item
                            a.menu__item-link(href='#') Войти
            .about-me__arrow.arrow-down
                a(href="#").about-me__arrow-link
                    svg.arrow-down-svg
                        use(xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="assets/images/sprite/sprite.svg#stars1")
        include ../common/footer.pug