.slider
    .slider__info
        .intelligence
            h2.block-subtitle.block-subtitle-slider Сайт школы онлайн образования
            .intelligence__text HTML, CSS, JAVASCRIPT
            .intelligence__btn 
                a(href="#").intelligence__btn-link 
                    svg.intelligence__btn-svg
                        use(xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/images/sprite/sprite.svg#link")
                    span Посмотреть сайт
    .slider__display
        img(src="/images/content/face.jpg", alt="face").slider__display-img
    .slider__btns
        .slider__btns-left.arrow.slide-list
            button(href="#").arrow__left
                svg.arrow__left-down
                    use(xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/images/sprite/sprite.svg#arrow_down")
            .slide-list__item
                img(src="/images/content/face.jpg", alt="face").slide-list-img.slider__display-img_left
        .slider__btns-right.arrow.slide-list
            button(href="#").arrow__right
                svg.arrow__right-up
                    use(xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/images/sprite/sprite.svg#arrow_down")
            .slide-list__item
                img(src="/images/content/face.jpg", alt="face").slide-list-img.slider__display-img_right




//Будующий слайдер
//.slider
    .slider__info
        ul.intelligence
            li.intelligence__item
                h2.block-subtitle.block-subtitle-slider Сайт школы онлайн образования
                .intelligence__text HTML, CSS, JAVASCRIPT
                .intelligence__btn 
                    a(href="#").intelligence__btn-link 
                        svg.intelligence__btn-svg
                            use(xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/images/sprite/sprite.svg#link")
                        span Посмотреть сайт
            li.intelligence__item
                h2.block-subtitle.block-subtitle-slider Сайт школы онлайн образования
                .intelligence__text HTML, CSS, JAVASCRIPT
                .intelligence__btn 
                    a(href="#").intelligence__btn-link 
                        svg.intelligence__btn-svg
                            use(xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/images/sprite/sprite.svg#link")
                        span Посмотреть сайт
            li.intelligence__item
                h2.block-subtitle.block-subtitle-slider Сайт школы онлайн образования
                .intelligence__text HTML, CSS, JAVASCRIPT
                .intelligence__btn 
                    a(href="#").intelligence__btn-link 
                        svg.intelligence__btn-svg
                            use(xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/images/sprite/sprite.svg#link")
                        span Посмотреть сайт
            li.intelligence__item
                h2.block-subtitle.block-subtitle-slider Сайт школы онлайн образования
                .intelligence__text HTML, CSS, JAVASCRIPT
                .intelligence__btn 
                    a(href="#").intelligence__btn-link 
                        svg.intelligence__btn-svg
                            use(xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/images/sprite/sprite.svg#link")
                        span Посмотреть сайт
    .slider__display
        ul.full-pic
            li.full-pic__list
                img(src="/images/content/face.jpg", alt="face").full-pic__list-img
            li.full-pic__list
                img(src="/images/content/face.jpg", alt="face").full-pic__list-img
            li.full-pic__list
                img(src="/images/content/face.jpg", alt="face").full-pic__list-img
            li.full-pic__list
                img(src="/images/content/face.jpg", alt="face").full-pic__list-img
    .slider__btns
        .slider__btns-left.arrow
            button(href="#").arrow__left
                svg.arrow__left-down
                    use(xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/images/sprite/sprite.svg#arrow_down")
            ul.slide-list
                li.slide-list__item
                    img(src="/images/content/face.jpg", alt="face").slide-list__item-img
                li.slide-list__item
                    img(src="/images/content/face.jpg", alt="face").slide-list__item-img
                li.slide-list__item
                    img(src="/images/content/face.jpg", alt="face").slide-list__item-img
                li.slide-list__item
                    img(src="/images/content/face.jpg", alt="face").slide-list__item-img
        .slider__btns-right.arrow
            button(href="#").arrow__right
                svg.arrow__right-up
                    use(xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/images/sprite/sprite.svg#arrow_down")
            ul.slide-list
                li.slide-list__item
                    img(src="/images/content/face.jpg", alt="face").slide-list__item-img
                li.slide-list__item
                    img(src="/images/content/face.jpg", alt="face").slide-list__item-img
                li.slide-list__item
                    img(src="/images/content/face.jpg", alt="face").slide-list__item-img
                li.slide-list__item
                    img(src="/images/content/face.jpg", alt="face").slide-list__item-img