.social__item-svg{
    fill: aliceblue;
    opacity: 0.7;
    width: 30px;
    height: 22px;
    &:hover{
        fill: $green_low;
    }  
}
.social__item-svg_header{
    opacity: 1;
}

.social__item-link:focus{
    .social__item-svg{
        fill: $green_middle;
    }

}
.social__item-link:active{
    .social__item-svg{
        fill: #2e9177;
    }

}

.hamburger__link-svg{
    width: 40px;
    height: 35px;
    fill: #fff;
}

.traingle__pic-left{
    fill: #ebefe2;
    }
    .traingle__pic-right{
    fill: #f4f5f0;
    @include tablets{
        fill: #ebefe2;
    }
    }

.header__placeholder-title{
    fill: #fff;
    opacity: 0.2;
    height: 100%;
    width: 100%;
    margin-top: -15px;
    @include phones{
        display: none;
    }
}
.input-icon__icon{
    width: 15px;
    height: 17px;
    fill: #c4cbcd;
    margin: 0 auto;
}

.form__toggle-fake_check {
    width: 12px;
    height: 9px;
    stroke: #fff;
}
.arrow-down-svg{
    width: 26px;
    height: 16px;
    fill: #fff;
    opacity: 0.7;

}
.title-block-svg{
    fill: #e2ebd0;  
    //width: 100%;
    //width: 60%;
    width: 350px;
    margin: 0 auto;
    @include tablets{
        width: 300px;
    }
    @include phones{
        width: 250px;
    }

}
.contacts__item-icon{
    width: 25px;
    height: 25px;
    fill: $green_low;
    margin-right: 20px;
}
.intelligence__btn-svg{
    width: 20px;
    height: 20px;
    fill: #fff;
    margin-right: 10px;    
}
.traingle__pic-right_white{
    fill: #fff;
}
.traingle__pic-left_white{
    fill: #fff;
}
.arrow__right-up{
    fill: #fff;
    transform: rotate(180deg);
    width: 43px;
    height: 27px;
}
.arrow__left-down{
    fill: #fff; 
    width: 43px;
    height: 27px;
}