.myworks-title {
    margin: 60px auto; //width: 50%;
}

.about-me {
    padding-top: 50px;
    padding-bottom: 250px;
    min-height: 1400px;
    @include tablets {
        min-height: 1600px;
    }
    @media screen and (max-width: 650px) {
        min-height: 1634px;
    }
    @include phones_work {
        min-height: 1862px;
    }
    @include phones {
        min-height: 1800px;
    }
    @media screen and (max-width: 328px) {
        min-height: 1850px;
    }
}

.myworks__slider {
    height: 750px; //width: 1180px;  
    margin: 0 auto;
    background-color: rgb(197, 207, 218);
}

.about-me__reviews {
    margin-top: 40px;
}

.title-block-pic {
    position: absolute;
    width: 100%;
    top: -72px;
    top: -59px;
}

.title-block-pic_top {
    top: -25px;
}

.myworks-title,
.title-block {
    position: relative;
}

.about-me {
    position: relative;
    overflow: hidden; 
}

.about-me__content {
    width: 780px;
    margin: 0 auto; //margin-top: 50px;
    @include screen {
        width: 95%;
    }
}

.reviews {
    display: flex;
    justify-content: space-between;
    @include phones_work {
        flex-direction: column;
    }
}

.reviews__item-pic {
    margin: 0 auto;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    background-color: #fff;
}

.reviews__item-img {
    border-radius: 50%;
    width: 80px;
    height: 80px;
}

.block-title-about-me {
    width: 64%;
    margin: 0 auto;
    line-height: 1;
    @include phones_work {
        width: 100%;
        padding-left: 16px;
        padding-right: 16px;
    }
}

.quot__who-name p,
.quot__who-job p {
    margin: 0;
}

.reviews__item {
    width: 48%;
    z-index: 2;
    @include phones_work {
        width: 100%;
        margin-top: 40px;
        &:first-child {
            margin-top: 0;
        }
    }
}

.reviews__item-description {
    @extend .text-content;
    position: relative;
    margin: 0px;
    margin-top: 20px;
}

.reviews__item-description:before {
    content: '';
    display: block;
    position: absolute;
    z-index: -1;
    top: -24px;
    left: 0;
    width: 100px;
    height: 65px;
    background: url("../images/content/quotes.svg") left top no-repeat;
    background-size: contain;
    opacity: .1;
}

.quot__who {
    text-align: center;
    display: block;
}

.quot__who-name {
    color: $green_low;
    font-weight: 900;
}

.about-me__relations {
    width: 380px;
    border-radius: 5px;
    background-color: rgba(218, 219, 214, .6);
    height: 100%; //filter: blur(20px);
    @include phones_work {
        width: 300px;
    }
}

.about-me--bg {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    min-width: 900px;
}

.stop-scrolling {
    overflow: hidden;
    height: 100%;
}

.full-menu {
    position: absolute;
    width: 100%;
    height: 100vh;
    background-color: rgba(218, 219, 214, .6);
    z-index: 3;
    background: rgba(108, 156, 90, .87);
    display: none;
}

.nav_header {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    height: 100%;
}

.nav_header > .nav__item {
    margin-top: 90px;
    @include phones {
        margin-top: 50px;
    }
}

.nav_header > .nav__item:first-child {
    margin-top: 0px;
}

.nav_header > .nav__item > .nav__item-link {
    color: #fff;
    
    &:hover {
        color: #fff;
    }
    &:active {
        color: #fff;
    }
    &:focus {
        color: #fff;
    }
}

.nav_header > .nav__item > .nav__item-link::after {
    content: '';
    display: block;
    position: absolute;
    bottom: 0;
    left: 50%;
    right: 0;
    width: 90px;
    height: 3px;
    transform: translateX(-50%);
    background: currentColor;
    opacity: 0;
}

.nav_header > .nav__item > .nav__item-link:hover:after {
    opacity: 1;
}

.communications {
    padding-top: 45px;
}

.form-inbut {
    margin: 0 20px 20px 20px;
}

.about-me__relations_margin {
    margin: 0 auto; //margin-top: 60px; 
    //filter: blur(20px);
    //background: url("../../assets/images/content/bg-work.jpg") center no-repeat;
    overflow: hidden;
}

.about-me__arrow {
    display: flex;
    justify-content: center;
    margin-top: 45px;
    margin-bottom: 35px;
    transform: rotate(180deg);
    &:hover {
        transform: scale(1.5) rotate(180deg);
        transition: all 0.2s linear;
    }
}

textarea {
    resize: none;
    height: 110px;
    width: 100%;
    border-radius: 30px;
}

.communications__form-label {
    width: 100%;
}

.communications__form-label .communications__form-label {
    width: 100%;
    border-radius: 30px;
}


.blur {
    // height: 100vh;
    position: relative;
    overflow: hidden;
}

.about-me__background {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    min-width: 2200px;
}

.about-me__background-img {
    display: block;
    max-width: 100%;
}

.blur-wrapper__form {
    width: 100%;
    height: 100%;
    background: url("../images/content/bg-work2.jpg") center no-repeat;
    filter: blur(10px);
    position: absolute;
    z-index: 1;
    top: 0;
    background-position: -336px -143px;
    background-size: 1800px
}


.blur-wrapper {
    position: absolute;
    width: 380px;
    border-radius: 10px;
    position: relative;
    @include phones {
        width: 300px;
    }
}
.about-me__blur{
    margin-top: 55px;
    display: flex;
    justify-content: center;
}

.hamburger__switch {
    display: block;
    position: relative;
    overflow: hidden;
    margin: 0;
    padding: 0;
    width: 40px;
    height: 40px;
    font-size: 0;
    text-indent: -9999px;
    appearance: none;
    box-shadow: none;
    border-radius: none;
    border: none;
    cursor: pointer;
    transition: background 0.3s;
}

.hamburger__switch:focus {
    outline: none;
}

.hamburger__switch span {
    display: block;
    position: absolute;
    top: 16px;
    left: 0px;
    right: 1px;
    height: 5px;
    background: white;
    border-radius: 10px;
}

.hamburger__switch span::before,
.hamburger__switch span::after {
    position: absolute;
    display: block;
    left: 0;
    width: 100%;
    height: 5px;
    border-radius: 10px;
    background-color: #fff;
    content: "";
}

.hamburger__switch span::before {
    top: -14px;
}

.hamburger__switch span::after {
    bottom: -14px;
}

.hamburger__switch_htx span {
    transition: background 0s 0.3s;
}

.hamburger__switch_htx span::before,
.hamburger__switch_htx span::after {
    transition-duration: 0.3s, 0.3s;
    transition-delay: 0.3s, 0s;
}

.hamburger__switch_htx span::before {
    transition-property: top, transform;
}

.hamburger__switch_htx span::after {
    transition-property: bottom, transform;
}

.hamburger__switch_htx.active span {
    background: none;
}

.hamburger__switch_htx.active span::before {
    top: 0;
    transform: rotate(45deg);
}

.hamburger__switch_htx.active span::after {
    bottom: 0;
    transform: rotate(-45deg);
}

.hamburger__switch_htx.active span::before,
.hamburger__switch_htx.active span::after {
    transition-delay: 0s, 0.3s;
}